*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  text-decoration: none;
  list-style: none;
}

.container {
  padding: 25px 5vw;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header .container {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: lime;
}

header nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

header ul {
  display: flex;
  gap: 1rem;
}

header .user-btns {
  display: flex;
  gap: 1rem;
}

main {
  margin-bottom: auto;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}
