@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@200;400;600;700&display=swap");
/* GLOBAL STUFF */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  text-decoration: none;
  list-style: none;

  font-family: "Epilogue", sans-serif;
  font-size: 18px;
}

.container {
  padding: 25px 5vw;
}

li:not(.dropdown) {
  padding: 10px 20px;
}

button,
a {
  color: hsl(0, 0%, 41%);
  cursor: pointer;
}

button {
  padding: 10px 20px;
  background: transparent;

  border-radius: 10px;
  border: none;
  outline: 1px solid transparent;
}
button:hover,
button:focus-visible,
a:hover,
a:focus-visible {
  color: black;
}

button.btn-border {
  outline-color: rgba(0, 0, 0, 0.286);
}
button.btn-border:hover,
button.btn-border:focus-visible {
  outline-color: black;
}

button.btn-full {
  background: black;
}
button.btn-full:hover,
button.btn-full:focus-visible {
  background: transparent;
  outline-color: black;
}

/* END OF GLOBAL STUFF */

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header .container {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: hsl(0, 0%, 98%);
}

header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-right: 2rem;
}

header nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

header ul {
  display: flex;
}

nav ul li {
  display: flex;
  align-items: center;
}

header .user-btns {
  display: flex;
  gap: 1rem;
}

/* DROPDOWN STUFF */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 0.5rem);

  padding: 1rem 0.5rem;

  background-color: rgb(255, 255, 255);

  border-radius: 10px;

  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.137);
}

.dropdown-menu.right-aligned {
  right: 0;
}

.dropdown-menu ul {
  display: flex;
  flex-direction: column;
}

.dropdown-menu ul li {
  display: flex;
  gap: 1rem;
  width: 100%;
}
/* END OF DROPDOWN STUFF */

main {
  margin-bottom: auto;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}
