*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  text-decoration: none;
  list-style: none;
}

.container {
  padding: 25px 5vw;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header .container {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: lime;
}

header nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

header ul {
  display: flex;
  gap: 1rem;
}

header .user-btns {
  display: flex;
  gap: 1rem;
}

/* DROPDOWN STUFF */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.5rem);

  padding: 0.5rem;

  background-color: aqua;

  border-radius: 10px;

  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.137);
}
/* END OF DROPDOWN STUFF */

main {
  margin-bottom: auto;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}
